@font-face {
    font-family: 'Tan Summers';
    src: url(Fonts/TAN-SUMMERS.otf);
}

@font-face {
    font-family: 'Palatino';
    src: url(Fonts/Palatino_Medium.otf);
}

@font-face{
    font-family:'Tan Astoria';
    src: url(Fonts/TAN-ASTORIA-Display.ttf);
}

@font-face {
    font-family: 'Tan Variety';
    src: url(Fonts/TAN-_VARIETY.otf);
}

@font-face {
    font-family: 'Times New Roman';
    src: url(Fonts/Tinos-Regular.ttf);
}

@font-face {
    font-family: 'Comic Sans';
    src: url(Fonts/Ldfcomicsanslight-6dZo.ttf);
}

@font-face {
 font-family: 'WF Visual Sans';
 src: url('https://dhygzobemt712.cloudfront.net/Fonts/VF/WFVisualSansVF.woff2') format('woff2');
 font-weight: 100 900;
 font-style: normal;
 font-display: swap;
}


@font-face {
    font-family: 'ITC';
    src: url(Fonts/edwardianscriptitc.ttf);
}

*{
cursor: url("Images/pointercursor.png"),auto;
}

:root{
    --fs-1:3.7rem;
    --fs-2:1.8rem;
    --fs-3:1.7rem;
    --fs-4:1.5rem;
    --fs-5:2rem;
    --fs-6:16rem;
    --fs-7:9.5rem;
    --fs-8: 2.5rem;
    --fs-10: 3rem;
    --fs-11: 2.5rem;
}

body{
    margin: 0;
    overflow-x: hidden;
}


.header{
    background-color: #523d23;
}

.headerLogo{
    width: var(--fs-7);
    height: var(--fs-7);
    cursor: url("Images/linkcursor.png"),pointer;
}

.textHeaderLogo{
    font-family: 'Tan Astoria';
    font-size: var(--fs-1);
    color: white;
    margin: 0px;
    cursor: url("Images/linkcursor.png"),pointer;

}


.textSubheaderLogo{
    font-family: 'Tan Variety';
    color: white;
    letter-spacing: 4px;
    font-size: var(--fs-2);
    margin: 0px;
    margin-top:-7px;
    cursor: url("Images/linkcursor.png"),pointer;
}

.textLogos{
    display: flex;
    flex-direction: column;
    align-self: center;
}


.divHeaderLogos{
    display: flex;
    flex-direction: row;
}

.divHeaderLogos a{
    text-decoration: none;
    color: white;
}

.searchButton img{
    width: var(--fs-8);
    height: var(--fs-8);
    cursor: url("Images/linkcursor.png"),pointer;
}

.searchButton{
    border-color: transparent;
    background-color: transparent;
}

.searchEngine{
    position: absolute;
    width: 35%;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    top:var(--fs-5);
    right: var(--fs-6);
    z-index: 2;
}

.searchEngineMobile{
    width: 90%;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    margin: 20px 0;
}

.searchInput{
    font-family: 'Tan Summers';
    font-size: var(--fs-3);
    outline: none;
    border: 0; 
    width: 85%;
    cursor: url("Images/linkcursor.png"),pointer;
}


.searchInput::placeholder{
    color: #523d23;
}

.search-alignment{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 3px;
}

.search-alignment input{
    color: #523d23;
 
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    padding-left:0;
    display: none;
}

.result-item{
    font-family: 'Palatino';
    font-size: var(--fs-4);
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    color: #523d23;
    
}

.result-itemMobile{
    font-family: 'Palatino';
    font-size: var(--fs-4);
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    color: #523d23;
}


.result-item:hover{
    color:#fff8bf;
    background-color: #523d23;
    cursor: url("Images/linkcursor.png"),pointer;
}

.result-itemMobile:hover{
    color:#fff8bf;
    background-color: #523d23;
    cursor: url("Images/linkcursor.png"),pointer;
}

.contactButton{
    position: absolute;
    font-family: 'Tan Astoria';
    top: var(--fs-5);
    right: var(--fs-11);
    color: white;
    font-size: var(--fs-10);
    border: 3px solid white;
    line-height: 1;
    border-radius: 45px;
    padding: 20px;
    padding-bottom: 5px;

}


.contactButton:hover{
    background-size: cover;
    background-image: url(Images/contact\ hover.gif);
    background-repeat: no-repeat;
    color: #fff8bf;
    border-color: #fff8bf;  
    transform: scale(1.1);
    transition-duration: 2s; 
    text-shadow: 2px 2px 20px black;
    cursor: url("Images/linkcursor.png"),pointer;
}

.mobileMenuContainer{
    background-color: rgba(250, 255, 183, 0.63);
    backdrop-filter: blur(10px);
    padding: 1.5rem 0;
    padding-left: 10rem;
    padding-right: 13rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    width: 100%;
    animation: slide-down 1s ease-out;
    position: absolute;
    z-index: 1;
    top:0;
    margin-top: 9rem;
}

@keyframes slide-down {
      0% { opacity: 0; transform: translateY(-10%); z-index: -1;}   
      25% {z-index: -1;}
      50%{z-index:-1;}
    100% { opacity: 1; transform: translateY(0);}
}


.mobileMenu{
    font-weight: 1000;
    font-size: var(--fs-2);
    font-family: 'Tan Summers';
    list-style: none;
    color: #523d23;
    padding: 7px 0;
    padding-left: 2rem;
    line-height: 1.5;
    border-radius: 10px;
}

.menuIcon{
    width: 8rem;
    height: 10rem;
    position: absolute;
    right: 2rem;
    display: flex;
    align-self: center;
    cursor: url("Images/linkcursor.png"),pointer;
}

/*might not work later because a tag is not in place after the class*/
.mobileMenu:hover{
    background-color: #523d23;
    color: #fff8bf;
}

.currentmobilemenu{
    font-weight: 1000;
    font-size: var(--fs-2);
    font-family: 'Tan Summers';
    list-style: none;
    background-color: #523d23;
    color: #fff8bf;
    padding: 7px 0;
    padding-left: 2rem;
    line-height: 1.5;
    border-radius: 10px;
}

.closeIcon{
    position: absolute;
    width: 8rem;
    height: 8rem;
    right: 2rem;
    display: flex;
    align-self: center;
    display: none;
    cursor: url("Images/linkcursor.png"),pointer;
}

.footerLogo{
    width: 13rem;
    cursor: url("Images/linkcursor.png"),pointer;
}

.footerEntirelogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}

.footerSubLogo{
    display: flex;
    flex-direction: column;
    cursor: url("Images/linkcursor.png"),pointer;
}

.footerMainLogo{
    font-family: 'Tan Astoria';
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
    cursor: url("Images/linkcursor.png"),pointer;
}

.footersublogo{
    font-family: 'Tan Variety';
    margin-top: 0;
    letter-spacing: 0.25rem;
    font-weight: 600;
    color: white;
    cursor: url("Images/linkcursor.png"),pointer;
}

.footerSubLogo a{
    text-decoration: none;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
    padding-right: 2rem;
    margin-top: 5rem;
}

.contactInfo h3{
    font-family: 'Tan Summers';
    font-weight: 600;
    color: white;
    font-size: 1.7rem;
    
}

.emojiFooter{
    width: 37rem;
    padding-left: 2rem;
}

.socials{
    display: flex;
    flex-direction: row;
}

.socials a{
    color: white;
    text-decoration: none;
    font-family: 'Tan Summers';
}

.socials a h3{
    font-size: 1.7rem;
    font-weight: 600;
    cursor: url("Images/linkcursor.png"),pointer;
}

.contactNum{
    font-size: 1.7rem;
    font-family: 'Tan Summers';
    color: white;
    font-weight: 600;
}

.remainingInfo{
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5rem;
}


.horizontalmenu ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.horizontalmenu{
    background-color: #523d23;
}

.currentmenu{
    font-size: var(--fs-2) ;
    color: #fff8bf;
    font-family: 'Tan Summers';
    font-weight: 600;
    padding: 7px 10px;
    background-color: #7d5d1e;
}



.menu{
    padding: 7px 10px;
    position: relative;
}

.menu::before{
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    height: 4px;
    left: 50%;
    background-color: #fff8bf;
    transition: all 0.5s;
}

.menu:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.menu a:hover{
    color: #fff96a;
    cursor: url("Images/linkcursor.png"),pointer;
}

.menu:hover::before{
    width: 100%;
    left:0;
}

.menu a{
    font-size: var(--fs-2);
    font-weight: 600;
    font-family: 'Tan Summers';
    text-decoration: none;
    color: #fff8bf;
}


.resultsContainer a{
    text-decoration: none;
    color: inherit;
}

.resultsContainerMobile a{
    text-decoration: none;
    color: inherit;
}

.rowbackground1{
    background-color: #ffface;
    border-radius: 39px;
    padding: 8rem 0;
}

.rowbackground1::before{
    background-color: #523d23;
    width: 100%;
    border-radius: 0;
}

.rowintro{
    padding-left: 9.5rem;
}

.cursorface{
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-image: url('Images/gianface.gif');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

.cursorface.active{
    opacity: 1;
}

.hello{
    font-family: 'ITC';
    color: #523d23;
    font-size: 4.48rem;
    line-height: 3rem;
    cursor: none;
}

.name{
    font-family: 'WF Visual Sans';
    color: #523d23;
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: none;
}

.andIam{
     font-family: 'WF Visual Sans';
    color: #523d23;
    font-size: var(--fs-5);
    cursor: none;

}

.typewriterRole{
    font-family: 'Tan Variety';
    cursor: none;
}


.aboutmyself{
    font-family: 'Palatino';
    color: #523d23;
    font-size: var(--fs-3);
    cursor: none;
}

.personalsocials{
    display: flex;
    gap: 1rem;
}

.fa-brands{
    font-size: 2.5rem;
    color: #523d23;
    padding: 0.5rem; 
    background-color: #ffface; 
    border-radius: 50%; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2); 
    width: 3.5rem;
}

.fa-facebook:hover{
    color: white;
    background-color: #2e79f2;
    cursor: url("Images/linkcursor.png"),auto;
}

.fa-instagram:hover{
    background: conic-gradient(from 45deg, red,purple,orange);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: white;
    cursor: url("Images/linkcursor.png"),auto;
}

.fa-github:hover{
    color: white;
    background-color: #333333;
    cursor: url("Images/linkcursor.png"),auto;
}

.myphoto{
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
    margin-left: 5rem;
    
}

.picwithsmiley{
    display: inline-block;
    position: relative;
}

.smileyface{
    position: absolute; 
    top: 4.7rem;
    width: 10rem;
    left: 8rem;
    cursor: none;
}


.titlerowy2k{
    position: relative;
    justify-items: center;
    background-color: #523d23;
}

.profiley2kleft{
    position: absolute;
    top: 0;
    left: 0;
}

.profiley2kright{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
}

.mypassions{
    font-family: 'Tan Astoria';
    color: #fff8bf;
    font-size: 4rem;
    margin-top: 3rem;
}

.passioncard{
    background-color: #ffface;
    border-radius: 39px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    background-size: 300% 100%; 
    background-position: 200% center;
    transition: background-position 0.5s ease;
    position: relative !important;
    z-index: 1;
}

.imagespassion{
    margin-top: 1rem;
    display: flex;
    justify-self: center;
}

.passiontitles{
    font-family: 'Comic Sans';
    font-size: 3rem;
    color: #523d23;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}

.passioncontext{
    font-family: 'WF Visual Sans';
    font-size: var(--fs-3);
    color: #523d23;
    text-align: center;
}

.leftPassion{
    padding-left: 2rem !important;
}

.rightPassion{
    padding-right: 2rem !important;
}


.passioncard:hover::before{
    content: '';
    background: conic-gradient(
        from var(--angle),
        transparent 50%,
        #fff96a
    );

    position: absolute;
    inset: -5px;
    z-index: -1;
    border-radius: inherit;
    animation: spin 3.5s linear infinite      ;
}

.passioncard:hover::after{
    content: '';
    background: #ffface;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        350deg,
        #ffface 10%,
        #ffface 40%,
        white 50%,
        #ffface 60%,
        #ffface 100%
    );
    background-size: 300% 100%; 

    animation: animationGlow 2s ease infinite;  
    z-index: -1;
}


.justcontainer{
    background-color: #ffface;
    margin: 2rem;
}

.landyard{
    display: flex;
    justify-self: center;
    height: 30rem;
    margin-bottom: 10rem;
}

.iamalsointo{
    font-family: 'WF Visual Sans';
    font-size: 2.5rem;
    color: #523d23;
    line-height: 2rem;

}

.focuson{
    font-family: 'WF Visual Sans';
    font-size: 2.5rem;
    color: #523d23;
    text-align: end;

}

.programming{
    font-family: 'WF Visual Sans';
    font-size: 6.5rem;
    font-weight: 800;
    color: #523d23;
    text-align: center;
}

.progpassion{
    width: 100%;
    padding: 2rem;
    padding-top: 7rem;
}

.techstack{
    font-family: 'WF Visual Sans';
    font-size: 1.5rem;
    color: #523d23;
    text-align: center;
    font-weight: 600;
}

.card{
    flex: 0 0 auto;
    border: none !important;
    background: none !important;
}

.group{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    animation: spinProg 10s linear infinite;
    margin-right: 2rem;
}

.carousel{
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel-wrapper{
    position: relative;
}

.carousel-wrapper::before, .carousel-wrapper::after{
    position: absolute;
    content: '';
    width: 8rem;
    height: 100%;
    pointer-events: none;
    z-index: 5;
    top: 0;
}

.carousel-wrapper::before{
    left: 0;
    background: linear-gradient(
        to right,
        #ffface 0%,
        #ffface 45%,
        rgba(255,248,191,0.6) 75%,
        transparent 100%
    );
}

.carousel-wrapper::after{
    right: 0;
    background: linear-gradient(
        to left,
        #ffface 0%,
        #ffface 45%,
        rgba(255,248,191,0.6) 75%,
        transparent 100%
    );
}

.carousel::-webkit-scrollbar{
    display: none;
}

.proglogo{
    width: 5rem;
    height: auto;
}

.puzzlecontainer{
    position: relative;
}

.draggable{
    position: absolute;
    
}

.puzpieces1{
    bottom: 5rem;
    left: 10rem;
    width: 11rem;
    cursor: url('Images/linkcursor.png'),auto;
}

.puzpieces2{
    left: 7rem;
    top: 5rem;
    width: 14rem;
    cursor: url('Images/linkcursor.png'),auto;
}

.puzpieces3{
    left: 20rem;
    top: 1rem;
    width: 14rem;
    cursor: url('Images/linkcursor.png'),auto;
}

.puzpieces4{
    right: 5rem;
    bottom: 9rem;
    width: 11rem;
    cursor: url('Images/linkcursor.png'),auto;
}


.whybuild{
    font-family: 'WF Visual Sans';
    color: #ffface;
    background-color: #523d23;
    padding: 1rem;
    border-radius: 20px;
    font-size: 3.5rem;
    font-weight: 800;
    width: fit-content;
    position: relative;
}

.whycontext{
    font-family: 'Palatino';
    color: #523d23;
    font-size: 1.7rem;
}

.whybuild::after{
    content: '';
  position: absolute;
  bottom: 0;
  right: 0; 
  width: 75%;
  height: 4.3rem;
  background-color: #ffface; 
  border-top-left-radius: 16px; 
}



.whyian{
    height: 100%;
    width: 100%;
    margin-top: 3rem;
}


.rowlast{
    background-color: #ffface; 
    border-radius: 50px; 
    margin-top: 2rem; 
    height: 30rem;;
}



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }to{
        --angle: 360deg;
    }
}

@keyframes spinProg{
    from{
        translate: 0;
    }to{
        translate: -100%;
    }
}


@keyframes animationGlow{
    from{
        background-position: 100% 0;
    }to{
        background-position: 0% 0;
    }
}



@media screen and (max-width: 375px){
    :root{
    --fs-1: 1.7rem;
    --fs-2: 0.8rem;
    --fs-4: 1rem;
    --fs-7: 5.5rem;
    --fs-8: 1.5rem;
    --fs-3: 0.9rem;
    }

    .menuIcon{
        position: relative;
        width: 3rem;
        height: 4rem;
        transform: translateX(1.5rem);
    }

    .closeIcon{
        position: relative;
        width: 3rem;
        height: 4rem;
        transform: translateX(1.5rem);
    }

    .mobileMenuContainer{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 4.9rem;
    }
    
    

}


@media screen and (min-width: 376px) and (max-width: 490px){
    :root{
    --fs-1:2.3rem;
    --fs-2:0.7rem;
    --fs-4: 1rem;
    --fs-7: 5.5rem;
    --fs-8: 1.7rem;
    --fs-3: 0.9rem;
    }

    .menuIcon{
        width: 3rem;
        height: 4rem;
        right: 1rem;    
    }

    .closeIcon{
        width: 3rem;
        height: 4rem;
        right: 1rem;
    }

    .mobileMenuContainer{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 491px) and (max-width: 730px){
    :root{
    --fs-1:3rem;
    --fs-2:1rem;
    --fs-4: 1.2rem;
    --fs-7: 7rem;
    --fs-8: 2rem;
    --fs-3: 1rem;
    }
    
    .menuIcon{
        width: 5rem;
        height: 6rem;
    }

    .closeIcon{
        width: 6rem;
        height: 6rem;
    }

    .mobileMenuContainer{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 7rem;
    }

    
}



@media screen and (max-width: 1300px){
    .searchEngine{
        display: none;
    }
    .contactButton{
        display: none;
    }

    .horizontalmenu{
        display: none;
    }

    
    
}

@media screen and (min-width: 1301px){
    .menuIcon{
        display: none;
    }


}


@media screen and (min-width: 1441px){

    .textSubheaderLogo{
        letter-spacing: 7px;
    }
    
}



@media screen and (min-width: 1660px){
    :root{
        --fs-6: 16.5rem;    
        --fs-11: 3rem;
    }

    
}

@media screen and (min-width: 1850px){
    :root{
        --fs-6: 20rem;
        --fs-7: 13rem;
        --fs-1: 5rem;
        --fs-2: 2.5rem;
        --fs-8: 3rem;
        --fs-3: 2.5rem;
        --fs-5: 2.5rem;
        --fs-10: 3.9rem;
        --fs-11: 2rem;
    }

    .textSubheaderLogo{
        letter-spacing: 8px;
    }

    .searchEngine{
        padding: 25px;
        border-radius: 65px;
    }

    .contactButton{
        padding: 28px;
        padding-bottom: 13px;
        border-radius: 60px;
        border: 5px solid;
    }
}

@media screen and (max-width: 985px){
    .footerEntirelogo{
        padding-left: 0;
    }

    .footerEntirelogo, .contactInfo{
        justify-self: center;
    }

    .emojiFooter{
        display: flex;
        justify-self: center;
        margin-top: 3rem;
    }

    .contactInfo{
        align-items: center;
        padding-right: 0;
        margin-top: 3rem;
    }
    
    .remainingInfo{
        align-items: center;
        padding-right: 0;
    }

    .picwithsmiley{
        margin-top: 4rem;
    }

    .rowintro2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myphoto{
        margin-left: 0;
    }

    .smileyface{
        left: 4rem;
    }

    .profiley2kleft, .profiley2kright{
        width: 15rem;
        margin-top: 2rem;
    }

    .progpassion{
        padding-top: 1rem;
    }

    .landyard{
        margin-bottom: 3rem;
    }

    .programming{
        font-size: 5rem;
    }

    .iamalsointo, .focuson{
        font-size: 2rem;
    }

    .whybuild{
        margin-top: 30rem;
        justify-self: center;
    }

    

    .rowlast{
        height: fit-content;
        padding-bottom: 5rem;
    }

    .whycontext{
        text-align: center;
    }


    .puzpieces1{
        top: 8rem;
        left: 5rem;
        width: 11rem;
    }

    .puzpieces2{
        left: 15rem;
        top: 11rem;
        width: 14rem;
    }

    .puzpieces3{
        left: 20rem;
        top: 1rem;
        width: 14rem;
    }

    .puzpieces4{
        right: 5rem;
        top: 9rem;
        width: 11rem;
    }

    

}

@media screen and (max-width: 615px){
    .scrollDown{
        font-size: 1rem;
    }

    .child-Nav{
        bottom: 1rem;
    }

    .footerLogo{
        width: 8rem;
        height: 8rem;
    }

    .footerMainLogo{
        font-size: 2.5rem;
    }

    .footerSubLogo{
        font-size: 1rem;
    }

    .emojiFooter{
        width: 25rem;
        height: 8rem;
    }

    .contactInfo h3, .contactNum, .socials h3{
        font-size: 1.5rem;
    }

    .rowintro{
        padding-left: 2rem;
    }

    .name{
        font-size: 3rem;
    }

    .profiley2kleft, .profiley2kright{
        width: 8rem;
        margin-top: 3.5rem;
    }

    .mypassions{
        font-size: 2.5rem;
        margin-top: 4rem;
    }

    .leftPassion{
        padding-left: 1rem !important;
    }

    .rightPassion{
        padding-right: 1rem !important;
    }

    .passiontitles{
        font-size: 2rem;
    }

    .imagespassion{
        width: 10rem;
    }

    .passioncard{
        width: 25rem;
        justify-self: center;
    }

    .passioncontext{
        font-size: 1.7rem;
    }

    .programming{
        font-size: 3.5rem;
    }

    .group{
        gap: 2rem;
        margin-right: 15rem;
    }
    
    .whybuild::after{
        width: 55%;
        height: 8rem;
    }

    .whycontext{
        text-align: center;
        font-size: 1.2rem;
    }

    .puzpieces3{
        left: 0rem;
        top: 1rem;
        width: 14rem;
    }
    
 
}
    
